#product-overview {
  background: url("images/freedom.jpg") left 10% bottom 20%/cover no-repeat border-box;
  /* background-image: url("freedom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 10% bottom 20%; 
  background-origin: border-box;
  background-clip: border-box;  above code is the shorthand of the following lines*/
  padding: 20px;
  height: 528px;
  width: 100%;
  margin-top: 43px;
  position: relative;
  /* background: linear-gradient(to right,rgba(250,16,15,0.6),transparent),  url("images/freedom.jpg") left 10% bottom 20%/cover no-repeat border-box; */
}
#product-overview h1 {
  font-family: "Anton", sans-serif;
  color: white;
  position: absolute;
  bottom: 5%;
  left: 3%;
}
.section-title {
  color: #2ddf5c;
  text-align: center;
}
.plan__list {
  width: 80%;
  margin: auto;
  text-align: center;
}
.plan {
  background: #d5ffdc;
  padding: 16px;
  margin: 8px;
  text-align: center;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}
.plan--highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.plan__annotation {
  background: white;
  color: #19b84c;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 8px;
}
.plan__title {
  color: #0e4f1f;
}
.plan__price {
  color: #858585;
}
.plan--highlighted .plan__title {
  color: white;
}
.plan--highlighted .plan__price {
  color: #0e4f1f;
}
.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}
.plan__feature {
  margin: 8px 0px;
}
#key-features {
  background: #ff1b68;
  padding: 16px;
  margin-top: 80px;
}
#key-features .section-title {
  color: white;
  margin: 32px;
}
.key-features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.key-feature__description {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.key-feature__image {
  width: 128px;
  height: 128px;
  background: #ffcede;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
}
